<h1> <%= @election.name %> </h1>
<h3> <%= @election.year %> </h3>

<table
  data-toggle="table"
  data-search="true"
  data-show-columns="true"
  data-mobile-responsive="true"
  >
  <thead>
    <tr>
      <th>Questions</th>
      <% @candidates.each do |candidate| %>
        <th><%= candidate.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <% @candidates.each do |candidate| %>
          <td><%= candidates_response_to_question(question, candidate) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
